.navigationBar {
  display: flex;
  justify-content: space-between;
}

.greetingsBox {
  display: flex;
  justify-content: space-between;
}

.phonebook {
  margin-right: 100px;
}

.entrance {
  display: flex;
  margin-left: 100px;
}
